img{
	margin-top: 2%;
	border-radius: 50%;
	width:20%;
	height:auto;
}

.buttons
{
	display:flex;
	justify-content: center;

}
button{
	
	padding:1%;
	margin: 2%;
	font-size: 15px;
	background-color: #abfc08;
	
	border-radius:5%;
	width:auto;
}
.top
{
	background-color:#333231;
	text-align: center;
	
	color:white;
	margin:0px;
	padding-bottom:20px;
}
p{
	
	margin:0;
	font-size: 19px;
}
.head{
	text-align: center;
	 border-style:solid;
	 padding:5px;
}



.info{
 background-color: #dce8c3;
 margin-top:-20px;
 padding-top:10px;
 
}
li{
	margin:10px;
}
ul
{
	margin-left:15%;
}